<section class="page__share">

  <div class="share-box">
    <h5 class="share-link-description">Share this entry</h5>
    <ul class="share-box-list">
      <li class="share-link social-link-facebook">
        <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}&amp;t={{ page.title | url_encode }}">
          <i class="fab fa-brands fa-facebook"></i>
        </a>
      </li>
      <li class="share-link social-link-x">
        <a target="_blank" href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ page.url | absolute_url }}">
          <i class="fab fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li class="share-link social-link-whatsapp">
        <a target="_blank" href="https://api.whatsapp.com/send?text={{ page.url | absolute_url }}">
          <i class="fab fa-brands fa-whatsapp"></i>
        </a>
      </li>
      <li class="share-link social-link-linkedin">
        <a target="_blank" href="https://linkedin.com/shareArticle?mini=true&amp;title={{ page.title | url_encode }}&amp;url={{ page.url | absolute_url }}">
          <i class="fab fa-brands fa-linkedin"></i>
          </a>
      </li>
      <li class="share-link social-link-mail">
        <a href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ page.url | absolute_url }}">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
