<ul class="social_bookmarks">
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/renelaas/">
        <i class="fab fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://x.com/mr_helaas">
        <i class="fab fa-brands fa-square-x-twitter"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/Renelaas">
        <i class="fab fa-fw fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="/contact">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}">
        <i class="fas fa-fw fa-rss-square"></i>
      </a>
    </li>
    
  </ul>